@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'react-redux-toastr/src/styles/index';

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter';

	@apply bg-gray-900;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

:root {
	--primary-color: #2f58ea;
}

input[type='file'],
input[type='file']::-webkit-file-upload-button {
	@apply cursor-pointer focus:outline-none;
}

input:focus {
	box-shadow: none !important;
}
